module.exports = {
    apps : [{
      name: "project-name",
      cwd: "/path-to-project", // Run pwd for sure
      script: "npm",
      args: "start",
      env: {
        NODE_ENV: "production",
      }
    }]
  }